<form method="post">
    <input type="text" name="username" placeholder="Tên đăng nhập" required />
    <input type="password" name="password" placeholder="Mật khẩu" required />

    <!-- hCaptcha -->
    <div class="h-captcha" data-sitekey="b23a10a4-ca04-4944-bde6-32dad76c9b2c"></div>

    <button type="submit">Đăng nhập</button>
</form>

<script src="https://js.hcaptcha.com/1/api.js" async defer></script>
