@model _1298_DUYHUNG.Models.ViewModels.EditUserViewModel

@{
    ViewData["Title"] = "Chỉnh sửa tài khoản";
}

<section class="py-2">
    <div class="container px-4 px-lg-5 mt-5">
        <h2 class="neon-text">Chỉnh sửa tài khoản</h2>

        <form asp-action="Edit" method="post">
            <input type="hidden" asp-for="Id" />

            <div class="form-group mb-3">
                <label asp-for="UserName" class="control-label"></label>
                <input asp-for="UserName" class="form-control" />
                <span asp-validation-for="UserName" class="text-danger"></span>
            </div>

            <div class="form-group mb-3">
                <label asp-for="Email" class="control-label"></label>
                <input asp-for="Email" class="form-control" />
                <span asp-validation-for="Email" class="text-danger"></span>
            </div>

            <div class="form-group mb-3">
                <label asp-for="FullName" class="control-label"></label>
                <input asp-for="FullName" class="form-control" />
                <span asp-validation-for="FullName" class="text-danger"></span>
            </div>

            <div class="form-group mb-3">
                <label asp-for="Address" class="control-label"></label>
                <input asp-for="Address" class="form-control" />
                <span asp-validation-for="Address" class="text-danger"></span>
            </div>

            <div class="form-group mb-3">
                <label asp-for="PhoneNumber" class="control-label"></label>
                <input asp-for="PhoneNumber" class="form-control" />
                <span asp-validation-for="PhoneNumber" class="text-danger"></span>
            </div>

            <div class="form-group mb-3">
                <label asp-for="Role" class="control-label"></label>
                <select asp-for="Role" class="form-control" asp-items="@(new SelectList(Model.AvailableRoles, Model.Role))">
                    <option value="None">Không có vai trò</option>
                </select>
                <span asp-validation-for="Role" class="text-danger"></span>
            </div>

            <div class="form-group">
                <button type="submit" class="btn btn-success">Lưu</button>
                <a asp-action="AccountManagement" class="btn btn-neon">Hủy</a>
            </div>
        </form>
    </div>
</section>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}